magacinDTD.dtd

<!ELEMENT Magacin (Artikal)+>
<!ELEMENT Artikal(Naziv,DatumIzrade,Cena,KompanijaProdavca,Email)>
<!ELEMENT Naziv (#PCDATA)>
<!ATTLIST Naziv sifra ID #REQUIRED>
<!ELEMENT DatumIZrade(Dan,Mesec,Godina)>
<!ELEMENT Dan (#PCDATA)>
<!ELEMENT Mesec (#PCDATA)>
<!ELEMENT Godina (#PCDATA)>
<!ELEMENT Cena(#PCDATA)>
<!ATTLIST Cena tip (din|eur) "din">
<!ELEMENT KompanijaProdavca(Ime,(Adresa)+)>
<!ELEMENT Email (#PCDATA)>
<!ATTLIST Email tip (privatni|sluzbeni) #REQUIRED>
